.capabilities {
  margin-top: 40px;
  @media (min-width: 768px) {
    margin-top: 70px;
  }
  @media (min-width: 1024px) {
    margin-top: 80px;
  }
  @media (min-width: 1366px) {
    margin-top: 120px;
  }
  @media (min-width: 1600px) {
    margin-top: 150px;
  }

  &-header {
    &--title {
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 30px;
      margin-bottom: 12px;
      @media (min-width: 768px) {
        font-size: 30px;
        line-height: 40px;
      }
      @media (min-width: 1024px) {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
      }
      @media (min-width: 1600px) {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 30px;
      }
    }

    &--text {
      font-size: 16px;
      letter-spacing: 0;
      line-height: 25px;
      margin-bottom: 20px;
      @media (min-width: 768px) {
        margin-bottom: 40px;
      }
      @media (min-width: 1024px) {
        font-size: 18px;
        line-height: 30px;
      }
      @media (min-width: 1366px) {
        margin-bottom: 60px;
      }
      @media (min-width: 1600px) {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 0;
      }
    }
  }

  .nav {
    &-tabs{
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-item {
      @media (min-width: 768px) {
        display: inline-block;
        margin-right: 20px;
      }
    }

    &-link{
      border: 1px solid #CECECE;
      border-radius: 28px;
      color: #000;
      font-size: 14px;
      font-weight: bold;
      height: 45px;
      letter-spacing: 0;
      line-height: 25px;
      margin-bottom: 12px;
      width: 255px;
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
      @media (min-width: 1024px) {
        font-size: 16px;
        height: 50px;
        line-height: 25px;
        width: 285px;
      }
      @media (min-width: 1600px) {
        font-size: 20px;
        height: 56px;
        line-height: 30px;
        width: 346px;
      }

      &.active {
        background-color: #186366;
        border: 0;
        color: #fff;
      }
    }
  }

  &-block {
    margin-top: 20px;
    @media (min-width: 768px) {
      margin-top: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &--img {
      margin-bottom: 12px;
      width: 100%;
      @media (min-width: 768px) {
        margin-top: 30px;
      }
      @media (min-width: 1024px) {
        margin-bottom: 16px;
        margin-top: 40px;
        width: 90%;
      }
      @media (min-width: 1600px) {
        width: 100%;
      }
    }

    &--text {
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px;
      @media (min-width: 768px) {
        font-size: 16px;
        line-height: 25px;
      }
      @media (min-width: 1024px) {
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
      }
    }
  }

  .is-hidden {
    display: none;
  }
}
