@import "../variables";

.btn {
  border-radius: 8px;
  background: transparent;
  border: 0;
  display: inline-grid;
  gap: 12px;
  transition: all ease-in-out .2s;
  font-size: $font-base-size;
  line-height: $font-base-line-height;
  font-weight: 600;
  text-decoration: none;

  &:active, &:focus {
    outline: none;
  }

  &-large {
    padding: 16px 32px;
  }
  &-medium {
    padding: 9px 24px;
  }

  &-small {
    padding: 4px 10px;
  }

  &-primary {
    color: $color-white;
    background: $color-primary;

    &:hover {
      background: $color-primary-hover;
    }
    &:active {
      background: $color-primary-dark;
    }
  }
  &-secondary {
    background: $color-secondary;
    color: $color-primary;

    &:hover {
      color: $color-primary-dark;
    }
    &:active {
      background: $color-gray;
    }
  }

  &-link {
    background: transparent;
    color: $color-primary;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    padding-left: 0;

    &:hover {
      color: $color-primary-hover;
      border-bottom: 1px solid $color-primary-hover;
    }
    &:active {
      color: $color-primary-dark;
      border-bottom: 1px solid $color-primary-dark;
    }
  }
}
