@import '../global/variables';

.form {
  &-info {
    margin-top: 120px;

    &-title {
      font-size: 40px;
      font-weight: 700;
    }

    &-contacts {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 40px;
      @media screen and (min-width: 768px) {
        justify-content: flex-start;
      }

      &-email {
        color: $black;
        font-size: 20px;
        text-decoration: none;
      }

      &-phone {
        color: $black;
        font-size: 20px;
        margin-left: 0;
        text-decoration: none;
        @media screen and (min-width: 768px) {
          margin-left: 84px;
        }
      }
    }

    &-text {
      font-size: 25px;
      font-weight: 700;
      margin-top: 30px;
    }

    &-required {
      line-height: 25px;
      margin-top: 16px;
    }
  }

  &-table {
    border: solid 0.5px #D7D9DE;
    margin-top: 30px;


    &-agreement {
      @media screen and (min-width: 768px) {
        border: 0.5px solid #D7D9DE;
        margin-left: 12px;
        margin-right: -12px;
      }
    }

    &-submit {
      align-items: center;
      background: $background;
      border: 0;
      color: $white;
      display: flex;
      font-size: 11px;
      font-weight: 800;
      justify-content: center;
      left: 0;
      letter-spacing: 2px;
      line-height: 20px;
      min-height: 60px;
      padding: 0;
      right: 0;
      text-transform: uppercase;
      width: 100%;

      @media screen and (min-width: 768px) {
        margin-left: 1px;
        min-height: 70px;
      }

      @media screen and (min-width: 1366px) {
        font-size: 13px;
        margin-left: 2px;
        min-height: 80px;
      }
    }
  }
}
