@import '../variables';

input, textarea {
  background-color: transparent !important;
  border: 0.5px solid #D7D9DE;
  padding: 15px 0 15px 15px;
  width: 100%;
  min-height: 60px;
  @media screen and (min-width: 768px) {
    padding: 20px 0 20px 25px;
    min-height: 80px;
  }

  @media screen and (min-width: 1366px) {
    padding-left: 30px;
  }

  &::placeholder {
    font-size: 14px;
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}

textarea {
  margin-bottom: -6px;
  min-height: 100px;
  padding-top: 15px;
  @media screen and (min-width: 320px) {
    border-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    border-bottom: 0.5px solid #D7D9DE;
  }
}

.input,
textarea,
select {

  &:focus,
  &.focus {
    //box-shadow: 0 0 0 2px rgba(0, 0, 0, .15);
    outline: none;

    &::placeholder {
      color: transparent;
      opacity: 0;
    }

    &:placeholder {
      color: transparent;
      opacity: 0;
    }

    &:input-placeholder {
      color: transparent;
      opacity: 0;
    }

    &::input-placeholder {
      color: transparent;
      opacity: 0;
    }

    &::input-placeholder {
      color: transparent;
      opacity: 0;
    }
  }

  &:placeholder {
    color: $gray;
    font-size: 14px;
    opacity: 1;
  }

  &::placeholder {
    color: $gray;
    font-size: 14px;
    opacity: 1;
  }

  &:input-placeholder {
    color: $gray;
    font-size: 14px;
    opacity: 1;
  }

  &::input-placeholder {
    color: $gray;
    font-size: 14px;
    opacity: 1;
  }

  &.error:not(.focus) {
    //border-color: $error;

    &:input-placeholder {
      color: $error;
    }

    &::input-placeholder {
      color: $error;
    }

    &::placeholder {
      color: $error;
    }

    &::placeholder {
      color: $error;
    }

    &::input-placeholder {
      color: $error;
    }
  }
}




